.authpage {
  &__bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #3e1b8b 50%, #23993d 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  &__bg2 {
      animation-direction: alternate-reverse;
      animation-duration: 7s;
  }

  &__bg3 {
    animation-duration: 8s;
  }

  &__wrapper {
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(0 0 0 / 10%);
  }
}